@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OnestFont;
  src: url(Lora-VariableFont_wght.ttf);
}

:root {
  font-family: OnestFont, sans-serif;
  color: white;
}